<%- include('../partials/header.ejs') -%>
    
    <%- include('../partials/menu.ejs') -%>
    <div class="mt-3">
        <div style="display:grid">
        <p class="mt-2 mb-2 fs-1">Tentez votre chance <%= user.firstname %> ! </h2>
        
        <p>Tentez de ganger une patisserie en cliquant sur le bouton.</p>
        <p>Tentatives restantes : <%= 5 - user.gameAttempt %></p>
        <% if(user.gameAttempt > 5){ %>
            <p>Désolé vous avez utilisé toutes vos tentatives ! Revenez demain.</p>
        <% }else if(winQuantity >= 50){  %>
            <p>Désolé toutes les patisseries ont été remportés ! Revenez demain.</p>
        </div>
        <%}else{ %>
                <p>
                    Cliquez sur le dé pour jouer ! 
                </p>
                <p>
                    <a href="/yams?play=true" ><img src="images/dé.png" id="imageDe" alt="dé" style="width:10%"></a>
                </p>
                    
            </div>
            <% if(diceTab != '' ){ %>
            <div>
                <h2>Votre score :</h2>
                <ul class="ulScore mt-5 mb-5">
                <%
                diceTab.forEach((element) => { %> <li> <img src="images/<%= element %>.jpg" alt="dé <%= element %>"> </li> <% }
                    ) 
                    %>
                </ul>
                <%

                if(patrieWinTab != '' ){ %>
                    %>
                    <h2>Vous avez gagné !</h2>
                    <ul>
                    <%
                    patrieWinTab.forEach((element, index) => { %> <li><strong><%= element.name %></strong>, quantité :  <%= quantityTab[index] %>  - reste : <%= element.number %> </li> <% }
                    ) 
                    %>
                    </ul>
                    <%
                }else{ %>
                    %>
                    <h2>Vous avez Perdu ! Retentez votre chance ! </h2>
                    <%
                } %>
            </div>
            <%} 
        }%>
    </div>
<%- include('../partials/footer.ejs') -%>