<%- include('../partials/header.ejs') -%>
    <h1>Tentez votre chance <%= user.firstname %> ! </h1>
    <%- include('../partials/menu.ejs') -%>
    
    <p>Tentez de ganger une patisserie en cliquant sur le bouton ! </p>
    <p>Tentatives : <%= gameAttempt %></p>
    <% if(gameAttempt >100000){ %>
        <p>Désolé vous avez utilisé toutes vos tentatives ! Revenez demain.</p>
    <% }else{ %>
        <p>
            <a  href="/yams?play=true" id="gameButton" class="gameButton"  >Lancer les dés</a>
        </p>
        <% if(diceTab != '' ){ %>
            <h2>Votre score :</h2>
            <ul>
            <%
            diceTab.forEach((element) => { %> <li> <%= element %> </li> <% }
                ) 
                %>
            </ul>
            <%

            if(patrieWinTab != '' ){ %>
                %>
                <h2>Vous avez gagné !</h2>
                <ul>
                <%
                patrieWinTab.forEach((element) => { %> <li><strong><%= element.name %> </strong> - reste : <%= element.number %> </li> <% }
                ) 
                %>
                </ul>
                <%
            }else{ %>
                %>
                <h2>Vous avez Perdu ! Retentez votre chance ! </h2>
                <%
            }
        } 
    }%>
        
<%- include('../partials/footer.ejs') -%>