<%- include('../partials/header.ejs') -%>
    <%- include('../partials/menu.ejs') -%>
    <p class="mt-5 mb-3 fs-1">Votre tableau de gain</p>

    <% if(doc.length >0) { %>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Nom</th>
                <th scope="col">Quantity</th>
                <th scope="col">Date</th>
              </tr>
            </thead>
            <tbody>
            <% doc.forEach((element) => { %>
                <tr>
                    <td><%= element.name %></td>
                    <td>Quantité : <%= element.quantity %></td>
                    <td>Date : <%= element.date %></td>
                </tr>
            <% }) %> 
        </tbody>
        </table>
    <% }else{ %>
        <p>Vous n'avez pas encore gagné !</p>
        <p>Pour jouer <a href="/yams">Cliquez-ici !</a></p>
    <% } %>
    
    
<%- include('../partials/footer.ejs') -%>